* {
    margin: 0;
    padding: 0;
}

h1{
    margin-left: 100px;
    color: white 
}

span {
    border-bottom: 5px solid maroon
}

.logo-container{
    width: 72%;
    height: 50px;
    line-height: 50px;
    float: left;
    background-color: black; 
}

.navigation{
    float: right;
    width: 28%;
    height: 50px;
    background-color: black;
}

.navigation a{
    list-style: none;
    height: 100%;
    display: table;
    float:left;
    padding: 0px 20px;
    background-color: black;
}

.navigation a li{ /* надпись*/
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}
 
.navigation a:hover{
    background-color: gray;
    color: #101010;
}


.img {
    float: left;
}

.myselfimg {
    margin: 7px 7px 7px 7px;
    float: left;
    height: 200px;
    width: 150px;
}

.textcontacts {
    float: left;
    border-right: 100px;
}

.contacts {
    float: right;
    list-style: none;
    padding-right: 1000px;
}

.contacts li {
    font-size: 20px;
    color: gold;
    background-color: purple;
}

.link {
    color: gold;
}